/* MESSAGES */
#messages {
  line-height: 3em;
  position: fixed;
  top:10%;
  width: 80%;
  z-index: 100;
}

#messages .glyphicon.text-danger {
  color: #a94442 !important;
  padding-top: 0.25em;
}

#messages,
.messages, 
.instructions {
  padding-left: 1em;
  padding-right: 1em;
  /*font-style: italic;*/
}
.alert-info {
  padding: 1em;
}
/* END MESSAGES */

/* FORMS */
input.form-error:invalid, 
select.form-error:invalid, 
textarea.form-error:invalid { 
  border: solid 1px #f33;
}

input:focus:invalid, 
select:focus:invalid, 
textarea:focus:invalid { 
  border: solid 1px #f33 ;
}

/*input ~ .field-hint, 
select ~ .field-hint, 
textarea ~ .field-hint { 
  visibility: hidden ;
  line-height: 0em;
}*/

input:focus:invalid ~ .field-hint, 
select:focus:invalid ~ .field-hint, 
textarea:focus:invalid ~ .field-hint { 
  color: #f33 ;
  visibility: visible ;
  line-height: 1.5em;
}
.form-group {
  clear:both;
}
/* END FORMS */
