<section id="organisationSect">
  <h2>{{q.contact.title}}</h2>
  <div class="form-group">
    <label for="contact.firstName">{{q.contact.firstName.label}}</label>
    <div>
      <input class="form-control col-md-6 col-sm-12 col-xs-12" id="contact.firstName" placeholder="{{q.contact.firstName.placeholder}}" required style="width: 49%" value="{{contact.firstName}}">
      <input class="form-control col-md-6 col-sm-12 col-xs-12" id="contact.lastName" placeholder="{{q.contact.lastName.placeholder}}" required style="margin-left:2%;width:49%" value="{{contact.lastName}}">
    </div>
  </div>
  {{#if q.contact.email || q.contact.phone}}
    <div class="form-group">
      <label for="contact.email">{{q.contact.email.label}}</label>
<label for="contact.phone">{{q.contact.phone.label}}</label>
      <div>
        {{#if q.contact.email}}
          <input class="form-control col-md-6 col-sm-12 col-xs-12" id="contact.email" type="email" placeholder="{{q.contact.email.placeholder}}" required style="width: 49%" value="{{contact.email}}">
        {{/if}}
        {{#if q.contact.phone}}
          <input class="form-control col-md-6 col-sm-12 col-xs-12" id="contact.phone" type="tel" placeholder="{{q.contact.phone.placeholder}}" required style="margin-left:2%;width:49%" value="{{contact.phone}}">
        {{/if}}
      </div>
    </div>
  {{/if}}
  {{#if contact.account}}
    <div class="form-group">
      <label for="contact.account.name">{{q.contact.account.name.label}}</label>
      <input class="form-control" id="contact.account.name" placeholder="{{q.contact.account.name.placeholder}}" required value="{{contact.account.name}}">
    </div>
  {{/if}}
  {{#if q.contact.account.description}}
    <div class="form-group">
      <label for="contact.account.description">{{q.contact.account.description.label}}</label>
      <textarea class="form-control" id="contact.account.description" placeholder="{{q.contact.account.description.placeholder}}" value="{{contact.account.description}}"></textarea>
    </div>
  {{/if}}
</section>
