<section id="currentSect" class="col-md-12 questionnaire" style="display:none">
    {{#q.about.title}}
      <h1 class="title">
        {{#if q.about.options.previous}}
          <a class="previous" href="#" onclick="{{q.about.options.previous}}">
            <span class="glyphicon kp-icon kp-icon-backward"></span>
          </a>
        {{/if}}
        {{q.about.title}}
        {{#if q.about.options.next}}
          <a class="next" href="#" onclick="{{q.about.options.next}}">
            <span class="pull-right glyphicon kp-icon kp-icon-forward"></span>
          </a>
        {{/if}}
      </h1>
    {{/q.about.title}}
    {{#q.about.subTitle}}
      <h2 class="sub-title">{{q.about.subTitle}}</h2>
    {{/q.about.subTitle}}
    {{#q.about.instructions}}
      <div class="alert-info instructions">{{{q.about.instructions}}}</div>
    {{/q.about.instructions}}

  <div id="messages" class="messages"></div>
  <form class="form" id="questionnaireForm">
    {{#q.about.options.contactAtTop}}
      {{>questionnaireContact}}
    {{/q.about.options.contactAtTop}}

    <div style="clear:both"></div>
    {{#q.qualifyingQuestions}}
    <section id="productsSect" style="padding-top:30px">
      <h2>Products and Services supplied</h2>
      <div class="form-group">
        <label for="contact.account.products.category">Category</label>
        <select class="form-control" id="contact.account.products.category" on-blur="matchProducts()" multiple placeholder="Please select the category or categories you supply" required size="17" value="{{contact.account.products.category}}">
          {{#defraDeccCategories}}
            <option name="{{description}}">{{description.toLabel()}}</option>
          {{/defraDeccCategories}}
        </select>
      </div>
      <div class="form-group">
        <label for="contact.account.products.eClass">List of eClasses supplied</label>
        <input class="form-control" id="contact.account.products.eClass" type="text" placeholder="Please list the eClass codes you supply, if known" value="{{contact.account.products.eClass}}">
      </div>
    </section>
    {{/}}

    <section id="questionnaireSect">
      <h2>{{q.questionsTitle}}</h2>

      {{#if q.about.options.categoryAtATime}}
        <div class="row bs-wizard" style="border-bottom:0;">
          {{#q.categories:i}}
            <div class="col-xs-2 bs-wizard-step {{#if (q.activeCategory<3 && i>5) || (q.activeCategory>=3 && (i<q.activeCategory-3 || i>q.activeCategory+2))}}hidden{{elseif i<q.activeCategory}}complete{{elseif i==q.activeCategory}}active{{else}}disabled{{/if}}">
              <div class="text-center bs-wizard-stepnum">
                <a onclick="ractive.set('q.activeCategory',{{i}})">{{name}}</a>
              </div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="#" class="bs-wizard-dot" onclick="ractive.set('q.activeCategory',{{i}})"></a>
              <div class="bs-wizard-info text-center"></div>
            </div>
          {{/}}
        </div>
      {{/if}}
      <div class="categories">
      {{#q.categories:i}}
        <section id="{{name}}" class="category"
          {{#if q.about.options.categoryAtATime}}
            style="display:{{i==q.activeCategory ? 'inline' : 'none'}}"
          {{else}}
            style="display:{{always ? 'inline' : 'none'}}"
          {{/if}}
        >
        <h3>{{name.toLeadingCaps()}}</h3>
        <p><label class="required" style="display:inline"></label> denotes <em>core</em> information that needs to be filled in.</p>
        <ol>
          {{#each questions:j}}
            <li class="form-group">
              {{#hint}}
                <span class="glyphicon glyphicon-question-sign pull-right" onclick="ractive.toggleFieldHint('{{id}}')" title="help for {{name}}"></span>
              {{/hint}}
              <label {{# required }}class="required"{{/}} for="{{name}}">{{{label}}}</label>
              <p class="help-block hidden" id="{{id}}Hint">{{{hint}}}</p>
              {{#if type == 'yesno' || type == 'yesnona'}}
                <div class="radio">
                  <label>
                    <input type="radio" data-id="{{name}}" on-click="revealDetails(name)" name="{{this.response}}" {{# required }}required{{/}} value="true"/>
                      Yes
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" data-id="{{name}}" name="{{this.response}}" {{# required }}required{{/}} value="false"/>
                      No
                  </label>
                </div>
                {{#if type == 'yesnona'}}
                  <div class="radio">
                    <label>
                      <input type="radio" data-id="{{name}}" name="{{this.response}}" value="na"/>
                        Don't know
                    </label>
                  </div>
                {{/if}}
              {{elseif type == 'checkbox'}}
                {{#optionNames:k}}
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-id="{{q.categories[i].questions[j].name}}" name="checkbox-{{i}}-{{j}}" value="{{k}}-{{.}}">
                      {{.}}
                    </label>
                  </div>
                {{/}}
              {{elseif type == 'radio'}}
                {{#optionNames:k}}
                  <div class="radio">
                    <label>
                      <input type="radio" data-id="{{q.categories[i].questions[j].name}}" name="radio-{{i}}-{{j}}" value="{{k}}-{{.}}">
                      {{.}}
                    </label>
                  </div>
                {{/}}
              {{elseif type == 'list'}}
                <div class="row">
                  <label class="col-md-12">
                    <input class="form-control" id="{{name}}" name="{{q.categories[i].questions[j].response}}" list="{{optionNames[0]}}" value="{{q.categories[i].questions[j].response}}"/>
                  </label>
                </div>
              {{elseif type == 'select'}}
                <div>
                  <label>
                    <select class="form-control" id="{{name}}" name="{{q.categories[i].questions[j].response}}" value="{{q.categories[i].questions[j].response}}"></select>
                  </label>
                </div>
              {{elseif type == 'matrix'}}
                <table>
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      {{#optionHeadings}}
                        <th>{{.}}</th>
                      {{/optionHeadings}}
                    </tr>
                  </thead>
                  <tbody>
                    {{#optionNames:k}}
                      <tr>
                        <td class="col-md-3">{{.}}</td>
                        <td class="col-md-3"><input id="{{toId(.)}}_implemented" type="checkbox" value="{{q.categories[i].questions[j].optionValues[k]}}"/></td>
                        <td class="col-md-3"><input id="{{toId(.)}}_consider" type="checkbox" value="{{..optionValues[k]}}"/></td>
                        <td class="col-md-3"><input id="{{toId(.)}}_impractical" type="checkbox" on-blur="saveMatrix(toId(.)+'_impractical',i,j,k)"/></td>
                      </tr>
                    {{/optionNames}}
                  </tbody>
                </table>
              {{else}}
                <div {{#if unit && unit!=undefined}}class="input-group"{{/if}}>
                  <input type="{{type}}" class="form-control" id="{{name}}" maxlength="1000" {{#if validation}}pattern="{{validation}}"{{/if}} placeholder="{{placeholder}}" {{# required }}required{{/}} title="Please enter in the expected format {{placeholder}}" value="{{this.response}}"/>
                  {{#if unit && unit!=undefined}}
                    <span class="input-group-addon">
                      <span class="glyphicon" style="font-family:monospace">{{unit}}</span>
                    </span>
                  {{/if}}
                </div>
              {{/if}}
              {{#additionalInfo}}
                <input class="form-control hidden" id="{{name}}Details" placeholder="You may provide additional details here" value="{{this.responseDetails}}"/>
              {{/additionalInfo}}
            </li>
          {{/each}}
        </ol>
        {{#if q.about.options.categoryAtATime}}
          <button class="btn btn-default" onclick="ractive.set('q.activeCategory',ractive.get('q.activeCategory')-1)" type="button">Back</button>
          {{#if q.activeCategory<q.categories.length-1}}
            <button class="btn btn-primary pull-right" onclick="ractive.set('q.activeCategory',ractive.get('q.activeCategory')+1)" type="button">Next</button>
          {{elseif q.about.options.finalSubmitButton}}
            <button id="qSubmitBtn{{i}}" class="btn btn-primary pull-right" on-click="sendMessage()" type="button">{{q.submit.buttonText}}</button>
          {{/if}}
        {{/if}}
        </section>
      {{/each}}
      </div>
    </section>

    {{#q.about.options.contactAtBottom}}
      {{>questionnaireContact}}
    {{/q.about.options.contactAtBottom}}

    {{#if !q.about.options.categoryAtATime}}
      <section>
        <h2>{{q.submit.title}}</h2>
        <div id="messages2" class="messages"></div>
        <div class="form-group">{{{q.submit.text}}}</div>
          <button class="btn btn-primary" on-click="sendMessage()" type="button">{{q.submit.buttonText}}</button>
      </section>
    {{/if}}
  </form>
</section>
